body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div {
    border: 0 solid;
}

hr {
    border: none;
    background-color: darkgray;
    color: darkgray;
    height: 2px;
}

#div_main {
    width: max-content;
    margin: 10px;
    color: crimson;
    display: inline-block;
}

#div_list {
    margin: 3px;
    padding: 10px;
    color: darkgoldenrod;
    display: inline-block;
}

#div_action {
    margin: 3px;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    display: block;
    text-align: right;
    float: right;
}

.fieldset_style {
    border: 0 none;
}

.input_style {
    width: 137px;

}

.table_user {
    margin: 0;
    border-collapse: collapse;
    color: black;
    padding: 6px;
    border: 2px solid darkgray;
    text-align: center;
}

fieldset[disabled]{
    color: gray;
}

TD, TH {
    padding: 6px;
    border: 2px solid darkgray;
    text-align: center;
    background: rgba(234, 222, 160, 0.91);
}

TH {
    background: rgba(82, 77, 154, 0.31);
}