<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-contex.xsd"
       default-init-method="initObject"
       default-destroy-method="destroyObject"
       default-lazy-init="true"
>

    <!-- setup -->
    <bean id="setup" class="com.adidyk.setup.Setup"/>

    <!-- runSetup -->
    <bean id="runSetup" class="com.adidyk.setup.RunSetup">
        <property name="setup" ref="setup"/>
    </bean>

    <!-- dataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/base_storage"/>
        <property name="username" value="postgres"/>
        <property name="password" value="admin"/>
    </bean>

    <!-- jdbcStorage -->
    <bean id="jdbcStorage" class="com.adidyk.start.JdbcStorage">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- validateInput -->
    <bean id="validateInput" class="com.adidyk.input.ValidateInput"/>

    <!-- actions -->
    <bean id="showAllUser" class="com.adidyk.start.UserStorage.ShowAllUser"/>
    <bean id="addUser" class="com.adidyk.start.UserStorage.AddUser"/>
    <bean id="searchUserById" class="com.adidyk.start.UserStorage.SearchUserById"/>
    <bean id="searchUserByName" class="com.adidyk.start.UserStorage.SearchUserByName"/>
    <bean id="searchUserByLogin" class="com.adidyk.start.UserStorage.SearchUserByLogin"/>
    <bean id="searchUserByLoginByName" class="com.adidyk.start.UserStorage.SearchUserByLoginByName"/>
    <bean id="updateUserById" class="com.adidyk.start.UserStorage.UpdateUserById"/>
    <bean id="removeUserById" class="com.adidyk.start.UserStorage.RemoveUserById"/>
    <bean id="exit" class="com.adidyk.start.UserStorage.Exit"/>

    <!-- userStorage -->
    <bean id="userStorage" class="com.adidyk.start.UserStorage">
        <constructor-arg ref="validateInput"/>
        <constructor-arg ref="jdbcStorage"/>
        <constructor-arg name="actions">
            <list>
                <ref bean="showAllUser"/>
                <ref bean="addUser"/>
                <ref bean="searchUserById"/>
                <ref bean="searchUserByName"/>
                <ref bean="searchUserByLogin"/>
                <ref bean="searchUserByLoginByName"/>
                <ref bean="updateUserById"/>
                <ref bean="removeUserById"/>
                <ref bean="exit"/>
            </list>
        </constructor-arg>
    </bean>

</beans>