<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-contex.xsd"
       default-init-method="initObject"
       default-destroy-method="destroyObject"
       default-lazy-init="true"
>

    <!-- Data source initialization -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/base_storage"/>
        <property name="username" value="postgres"/>
        <property name="password" value="admin"/>
    </bean>

    <!-- jdbc storage -->
    <bean id="jdbcStorage" class="com.adidyk.start.JdbcStorage">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- bean validateInput -->
    <bean id="validateInput" class="com.adidyk.input.ValidateInput">
    </bean>

    <!-- bean userStorage -->
    <bean id="userStorage" class="com.adidyk.start.UserStorage"
        init-method="fillAction">
        <constructor-arg ref="jdbcStorage"/>
        <constructor-arg ref="validateInput"/>
    </bean>

</beans>