<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>GetServlet</servlet-name>
        <servlet-class>com.adidyk.servlets.GetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetServlet</servlet-name>
        <url-pattern>/get_servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetFormServlet</servlet-name>
        <servlet-class>com.adidyk.servlets.GetFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetFormServlet</servlet-name>
        <url-pattern>/get_form_servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostFormServlet</servlet-name>
        <servlet-class>com.adidyk.servlets.PostFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PostFormServlet</servlet-name>
        <url-pattern>/post_form_servlet</url-pattern>
    </servlet-mapping>

</web-app>